<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://cfc.adm.br"
    id        = "cfc.adm.br"
    version   = "1.0.0">

<name>PhoneGap Build Application</name>

<description>
CFC Adm - Informações
</description>

<author href="https://example.com" email="you@example.com">
iSilver
</author>

</widget>
